.pokedex {
  text-align: center;
}

.pokedex-exp {
  margin: 5px 0;
}

.pokedex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.pokedex-winner {
  margin: 8px 0;
  color: #4caf50;

}

.pokedex-loser {
  margin: 8px 0;
  color: #e91e63;
}